@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-12">
        <h1>Welcome to the Emoji Memory Game</h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <img src="/images/specpic.png" alt="emoji game spec" />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <a href="/EmojiMemoryGame" class="btn btn-info">Play Game</a>
    </div>
</div>